body {
    background-color: #4b4b4b;
    margin: 0;
    padding: 0;
}

.project-list {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 30px;
}

.carousel-div {
    margin: 20px 100px;
}

.project-list h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.project-list h2 {
    font-size: 1.5rem;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}

.projectImage {
    max-width: 40%;
    max-height: 40%;
    margin-top: 1rem;
    margin-bottom: 10px;
}

.contact-link-p {
    font-size: 1rem;
    display: block;
    color: white;
    margin: 20px auto;
}


.project-list div {
    margin-bottom: 20px;
}

.github-icon-p {
    height: 20px;
    width: 20px;
}



@media (max-width: 50em) {
    .project-list {
        padding: 10px;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    .project-list div {
        margin-bottom: 8px;
    }

    .contact-link-p {
        font-size: 0.9rem;
        margin: 20px auto;
    }
    .carousel-div {
        margin: 0 10px;
    }


}