.project-list {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

.project-list h1 {
    font-size: 2rem;
    margin-bottom: 20px; 
}

.project-list h2 {
    font-size: 1.5rem;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px; 
}

.projectImage {
    max-width: 40%; 
    max-height: 40%;
    margin-top: 1rem;
}

.contact-link-p {
    font-size: 1rem;
    margin-top: 1rem;
    display: block; 
    color: white; 
}


.project-list div {
    margin-bottom: 20px;
}

@media (max-width: 50em) {
    .project-list {
        padding: 10px;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    .project-list div {
        margin-bottom: 8px;
    }

    .contact-link-p {
        font-size: 0.9rem;
        margin-top: 0.5rem;
    }
}
